.main_back {
  font-family: 'Proba Pro Regular';
  /* font-family: "helvetica neue", helvetica; */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  z-index: 100;
  
}

.menu-wrapper {
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, .8);
  margin-left: -450px;
  margin-top: -10px;
  opacity: 0;
  -webkit-box-shadow: 10px 10px 6px -8px rgba(161, 136, 119, .7);
  transition: all .3s ease-in-out;
  border-radius: 2px;
  padding: 0 auto;
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  z-index: 0; 
}

.menu-open {
  margin-left: 0px;
  opacity: 1;
}

.menu-toggle {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 8px;
  left: 8px;
  margin: 20px;
  padding: 0px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: rgba(0, 0, 0, .5);
  font-weight: bold;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .8);
  transform: rotate(0deg);
  transition: all .2s ease-in;
  border: 0 none;
  /* text-shadow: 0 0 0.2em blue; */
  outline: 0 none;
  -webkit-box-shadow: 10px 2px 8px -8px rgba(179, 164, 139, .6);
  
}

.menu-toggle:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(0deg);
  -webkit-box-shadow: 10px 2px 8px -8px rgba(179, 164, 139, .6);
}

.menu-toggle:focus {
  cursor: pointer;
  outline: 0 none;
}

.close-button {
  cursor: pointer;
  transform: rotate(45deg);
  /* background-color: rgb(193, 140, 183); */
  -webkit-box-shadow: 10px 2px 8px -8px rgba(179, 164, 139, .6);
}

.close-button:hover {
  transform: scale(1.1) rotate(45deg);
}

.links-wrapper {
  margin: 10px;
  padding: 10px;
  text-align: right;
  opacity: 1;
  transition: all .7s ease-out;
  transition-delay: .3s;
  letter-spacing: 2px;
}

.links-wrapper-closed {
  padding-top: 50px;
  opacity: 0;
  letter-spacing: 0px;
}

.link-list {
  padding-top: 90px;
  padding-right: 25px;
  padding-left: 25px;
}

.link-list li {
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  padding: 3px;
  /* text-align: center */
}

.link-list a {
  text-decoration: none;
  color: rgba(0, 0, 0, .5);
  transition: color .3s ease;
}

.link-list a:hover {
  color: rgba(0, 0, 0, .3);
}

.social-wrapper {
  text-align: center;
  padding: 0 auto;
  bottom: 4vh;
  position: absolute;
	width: 100%;
}

.social-wrapper a {
  margin: 8px;
  font-size: 24px;
  color: rgba(0, 0, 0, .5);
  transition: color .3s ease;
}

.social-wrapper a:hover {
  color: rgba(0, 0, 0, .3);
}

.social-open {
  opacity: 1;
  transition: opacity .7s ease-out;
  transition-delay: .3s;
}

.social-closed {
  opacity: 0;
  transition: opacity .3s ease-out;
}
